<style>
body {
  background-color: #ffffff;
  color: #000000;
  font-family: Helvetica, sans;
  margin: 0 auto;
  line-height: 2;
  padding: 8vh 12vw;
  overflow-x: hidden;
  font-size: 1.2rem;
  max-width: 100em;
}
</style>
